<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250966612245-79351nrqj3on4ieg345ap9ir8uediqn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250966612245-79351nrqj3on4ieg345ap9ir8uediqn1</string>
	<key>API_KEY</key>
	<string>AIzaSyAF2OwLhNO9Xbw6yFn9AjvamxMx1sfZf8M</string>
	<key>GCM_SENDER_ID</key>
	<string>250966612245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.legalfinder</string>
	<key>PROJECT_ID</key>
	<string>legalfinder-774ab</string>
	<key>STORAGE_BUCKET</key>
	<string>legalfinder-774ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250966612245:ios:9ef2093957d3f2c67e311c</string>
</dict>
</plist>